.home {
  text-align: center;

  #alunos {
    font-weight: 600;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  #alunos-label {
    margin-top: 50px;
    margin-bottom: 16px;
  }

  h1 {
    font-weight: 500;
  }

  h2 {
    font-weight: 500;
  }
}
